<footer class="footer">
  <a href="http://github.com/Elbone">🕸</a>
</footer>

<div class="webfonts">
  <div class="webfonts-text">Loading stuff</div>
</div>

<!-- Libraries -->
{% assign cdnjs = "https://cdnjs.cloudflare.com/ajax/libs" %}
<script src="{{cdnjs}}/webfont/1.6.28/webfontloader.js"></script>
<script src="{{cdnjs}}/viewport-units-buggyfill/0.6.2/viewport-units-buggyfill.min.js"></script>
<script src="{{cdnjs}}/prefixfree/1.0.7/prefixfree.min.js"></script>

<!-- Init stuff -->
<script>
  window.viewportUnitsBuggyfill.init();
  WebFont.load({
    google: {
      families: ['Astloch', 'Fruktur', 'Barlow Condensed'],
      timeout: 2000
    }
  });
</script>