<nav class="navigation" id="navigation">
  <a class="navigation-link" href="/">
    <span class="navigation-title">
      Niels Oeltjen
    </span>
    <span class="navigation-subtitle">
      Digital Maker & Artist
    </span>
  </a>
  {% for item in site.data.links %}
    <a
      class="navigation-link {% if item.url == page.url %}navigation-link__current{% endif %}"
      href="{{ item.url }}">
      <span class="navigation-title">
        {{ item.title }}
      </span>
      <span class="navigation-subtitle">
        {{ item.subtitle }}
      </span>
    </a>
  {% endfor %}
</nav>
