*, 
*:before,
*:after
  padding: 0
  margin: 0
  box-sizing: border-box

*:focus
  outline: 0 none
  background-color: white
  box-shadow: 0 0 0 0.25rem white, -0.5rem 0 0 0.25rem white, 0.5rem 0 0 0.25rem white

body
  background-color: $green
  text-align: center
  margin-top: 6vw
  position: relative
  @include media(">4")
    margin-top: 0
