@mixin text-title($color: $charcoal)
  display: block
  margin: 1vw 0
  padding: 0 2vw
  color: $color
  font-family: "Astloch", sans-serif
  font-weight: normal
  font-size: 18vw
  line-height: 1
  @include media(">6")
    font-size: 16vw
  @include media(">10")
    font-size: 12vw

@mixin text-subtitle($color: $charcoal)
  display: block
  color: $color
  font-family: "Fruktur", sans-serif
  font-size: 5vw
  line-height: 1.25
  letter-spacing: 0.02em
  @include media(">6")
    font-size: 4vw
  @include media(">10")
    font-size: 2.5vw

@mixin text-body($color: $charcoal)
  color: $color
  font-family: "Barlow Condensed", sans-serif
  font-size: 5vw
  line-height: 1.5
  @include media(">4")
    font-size: 4vw
  @include media(">7")
    font-size: 3vw
  @include media(">10")
    font-size: 2vw

@mixin text-link($color: $charcoal)
  color: $color
  border-bottom: 0.075em solid
  transition: all 200ms
  text-decoration: none
  &:hover
    color: $black
  &:visited
    color: $forest
  &:visited:hover
    color: $black
