.content 
  padding: 2vw 0 0 0
  position: relative
  &:after
    +text-title
    text-align: center
    content: "|"
    display: block
    // margin: 5% auto
  h2
    +text-subtitle
    margin-top: 1vw
    padding-top: 2vw
  p
    +text-body
    margin: 1em auto
    padding: 0 2em
    @include media(">4")
      padding: 0 0
      max-width: 80vw
    @include media(">7")
      max-width: 60vw
    @include media(">10")
      max-width: 45vw
  blockquote
    +text-subtitle($forest)
    background-color: $grey
    margin: 1em auto
    padding: 1.5em 2em
    position: relative
    &:before
      content: '“'
      position: absolute
      top: 0.5em
      left: 0.6em
    &:after
      content: '”'
      position: absolute
      bottom: 0
      right: 0.6em
    @include media(">4")
      max-width: 80vw
    @include media(">7")
      max-width: 60vw
    @include media(">10")
      max-width: 45vw
  a
    +text-body
    +text-link

  