.jump
  &-link
    +text-body
    color: $charcoal
    position: fixed
    z-index: 5
    top: 0.5vw
    padding: 0.5vw 1.5vw
    text-decoration: none
    // background-color: $green
    &__to-nav
      left: 0.5vw
    &__to-top
      right: 0.5vw
  &-hidden
    position: fixed
    top: -10000em
