---
layout: page
title: Billcap
subtitle: Case study
---

<p>
  {% include link.html
    href="http://www.billcap.com/"
    text="Billcap"
  %}
  operate a software platform to support
  key business functions of retailers in the
  Australian energy market. Their software
  products enable innovation and differentiation
  through their modularity, flexibility and
  affordability.
</p>
<p>
  I worked with Billcap in 2014, and in 2017
  was hired as Lead UX and UI Designer and
  Developer. I owned several key projects
  over a 12 month period.
</p>
{% include heading.html
  text="Problem"
%}
<p>
  While having demonstrated the efficacy
  of their products, and gathering attention
  in one of the most competitive energy
  markets in the world, Billcap were relying
  on a thin brand and ad-hoc communication
  strategy. In order to acquire customers
  and be treated seriously they needed to
  differentiate themselves from powerful
  incumbents.
</p>
<p>
  While confident about their proven products,
  there was also uncertainty about how to draw
  value from other parts of the platform, and
  how to pitch them to potential customers.
</p>
{% include image.html
  src="billcap-confluence.jpg"
  caption="The mighty brand project"
  alt="A wiki page showing brand-related content"
%}
{% include heading.html
  text="Research"
%}
<p>
  I conducted a series of interviews with
  various decision-makers in the energy industry
  to gather deeper qualitive data. My research
  validated a foundational Billcap belief:
  there is frustration in the industry around
  existing software providers —
  they are almost prohibitively expensive,
  change-resistant, somewhat old-fashioned,
  and barely receptive to input from their
  customers.
</p>
<p>
  Card-sort exercises revealed how customers
  ranked the features and benefits of the Billap
  platform. The data I gathered informed not
  just brand and messaging, but also product
  development.
</p>
{% include video.html
  src="billcap-logo"
  caption="The Billcap logo"
%}
{% include heading.html
  text="Solution"
%}
<p>
  To position itself as the antithesis of the
  competition I proposed Billcap highlight and
  provide evidence of its modern work practices:
  modular architecture, open working relationships
  with customers, automation, and a data-driven
  approach.
</p>
<p>
  I used this understanding to create a framework,
  to confidently start developing the Billcap
  brand. First I explicitly transposed customer
  concerns into benefits. Then, in consultation
  with the team I began creating key brand components
  from positioning statements, through brand
  character, to the tagline ‘Utility Innovation Now’
  as the summation of brand intent.
</p>
{% include video.html
  src="billcap-website"
  caption="Developing the company website"
%}
{% include heading.html
  text="Website"
%}
<p>
  Armed with a conceptual framework I began
  producing brand assets. I designed the logo
  and product icons, defined colours palettes,
  and selected fonts to develop a practical
  and flexible brand kit.
</p>
<p>
  With an extremly tight timeframe I
  then set about developing wireframes,
  content, and visual design for the
  {% include link.html
    href="http://www.billcap.com/"
    text="company website"
  %},
  before getting on the tools to build it out.
</p>
{% include image.html
  src="billcap-booth.png"
  caption="Tradeshow booth"
  alt="A technical drawing of a tradeshow booth"
  class="figure__md"
%}
{% include heading.html
  text="Rollout"
%}
<p>
  Over the next 6 months I progressively
  rolled out the brand design to various
  pieces of collateral including UIs,
  brochures, apparel, and a tradeshow
  booth.
</p>
{% include video.html
  src="billcap-serve"
  caption="UI components"
  class="figure__md"
%}
{% include heading.html
  text="UI component library"
%}
<p>
  Serve is Billcap's billing and customer
  management application. I developed a UI
  component library to drive the UI development
  of the app and subsequent UIs. The design aims
  for a clarity, simplicity, and personality not
  often found in enterprise applications.
  This project is currently on hold.
</p>
