---
layout: page
title: About me
subtitle: History & such
---

{% include image.html
  src="niels-oeltjen.jpg"
  alt="A picture of Niels Oeltjen"
  caption="Ich, mit nase"
  lang="de"
  class="figure__xs"
%}
<p>
  I’m an Australian designer in the game
  since 98.
</p>
<p>
  I was born in Germany, raised in Tasmania,
  and spent my adult life in Melbourne,
  with a few globe-spanning side trips
  along the way. I recently returned
  to Tasmania with my wife, son, and dog.
</p>
<p>
  My working life has been varied and rich,
  from the early days working in small
  culturally-leaning design studios
  through top of town advertising, and
  software and startups. I haven’t been
  content to stand still, and I don’t
  think I’ll ever stop looking for
  new creative opportunities. The last
  five years have been focused very
  much on startup and tech land, and
  I’ve felt right at home.
</p>
<p>
  Other pursuits that occupy my waking
  life include making art, gardening,
  home and improvement. Dodging
  {% include link.html
    href="https://www.instagram.com/p/9z377HnUmO/?taken-by=nielsoeltjen"
    text="Blue-tongue Lizards"
  %}
  and Wallabies while trail running with
  my dog, Nutmeg, is my on-the-reg workout.
</p>
<p>
  You could check out my
  {% include link.html
    href="http://www.nails.net.au/"
    text="art folio"
  %}, or my
  {% include link.html
    href="https://www.instagram.com/nielsoeltjen/"
    text="instagram"
  %} (more art), or my typefaces on
  {% include link.html
    href="https://www.fontshop.com/designers/niels-oeltjen/"
    text="fontshop"
  %}, or my
  {% include link.html
    href="http://www.nielsoeltjen.com/"
    text="business-card site"
  %}.
</p>
{% include download.html
  src="NielsOeltjen-CV-2018.pdf"
  text="Download my CV"
%}
