---
layout: page
title: How I work
subtitle: Approach & methods
---

{% include image.html 
  src="methods.png" 
  alt="Drawing of whiteboard, web browser, and app windows" 
  caption="I drew this picture of stuff I do"
%}
<p>
  I’ve always been driven to break 
  down the divide between technology 
  and people, and I get satisfaction 
  from making things that are genuinely 
  valuable to people — whether UI, 
  product, or artwork.
</p>
<p>
  I consider myself a Digital Maker —
  someone who <i>crafts</i> digital 
  products. I'm a generalist with skills 
  across the entire discipline of digital 
  design, and a specialist in Information 
  Design, UI Design, and UI Development.
</p>
<blockquote>
  Being a Jack-of-all-trades made me a 
  Master of this one!
</blockquote>
<p>
  Recently I’ve supported startups 
  and small enterprise in their design 
  capabilities, usually providing a 
  range of functions. I hesitate to 
  call it holistic design, but that's 
  what it is. My work often crosses 
  many disciplines like Brand Design, 
  Product Design, UX research, UX Design, 
  Visual Design, Information Architecture, 
  Marketing & Communication Design and
  Content Design.
</p>
{% include heading.html 
  text="Approach" 
%}
<p>
  Essentially I find problems, and fix 
  them, and find opportunities, and 
  maximise their value with design.
  I do this with 
  {% include link.html
    href="https://www.ideo.com/post/design-kit"
    text="user-centered design"
  %}
  and
  {% include link.html
    href="https://www.ideou.com/pages/design-thinking"
    text="design thinking"
  %}. 
  To achieve feasible and practical solutions 
  (and buy-in) I’ll frequently co-create with 
  domain experts, stakeholders and my team.
</p>
<p>
  Recently I’ve been working closely with 
  small cross-functional software teams 
  alongside product management, data science,
  and software development, though I’ve 
  sucessfully fit into various team structures. 
  I see my role there as the advocate for the 
  user or customer. I’ll work with Product 
  Managers (or owners) to identify opportunities 
  and help prioritise work, and software teams 
  to develop requirements.
</p>
<blockquote>
  Make it special,
  and be smart about it
</blockquote>
{% include heading.html 
  text="Skills" 
%}
<p>
  Unusually for a designer I have fairly 
  deep front-end development knowledge, 
  and I consider this as vital a craft as 
  visual design, and they inform each other.
</p>
<p>
  Please take a few minutes to read my case 
  studies, and 
  {% include link.html
    href="/contact-me/"
    text="contact me"
  %}
  if you’d like to talk about about something 
  I didn’t cover here, or if you’d like to meet 
  up (though beware, I don’t drink coffee). 
  Before you go here’s a fun little chart showing 
  how good I am at stuff (according to me). 
  So relative, so un-scientific.
</p>
<ul class="skills">
  {% for item in site.data.skills %}
    <li class="skills-item skills-item__{{ item.rating }}">
      <span class="skills-label">
        {{ item.skill }} 
      </span>
    </li>
  {% endfor %}
</ul>

{% include download.html 
  src="NielsOeltjen-CV-2018.pdf" 
  text="Download my CV"
%}