---
layout: page
title: Trust
subtitle: Case study
---
<p>
  {% include link.html
    href="http://www.billcap.com/trust/"
    text="Trust"
  %}
  is a customer communication
  toolset built on top of the
  {% include link.html
    href="http://www.billcap.com/"
    text="Billcap"
  %}
  software platform to provide customers
  with insights into data from their
  electricity meter.
</p>
<p>
  I was first involved with this project
  in 2014 when it was still in its infancy.
  Billcap were already doing interesting
  things with meter data and looking to
  grow their offering.
</p>
{% include heading.html
  text="Opportunity"
%}
<p>
  Billcap had identified an opportunity
  to develop a solution to what was then,
  and continues to be, a significant issue
  for energy retailers — customer churn.
  With pricing increases, negative press,
  and massive industry changes retailers
  were losing customers to their competitors,
  and at a significant cost to both parties.
  I worked with Billcap to research this
  problem, and design a solution.
</p>
{% include heading.html
  text="Research"
%}
<p>
  It was commonly accepted that bill-shock
  was the major motivator to switch
  retailers, but our meta-analysis identified
  general distrust of energy retailers as
  the causal factor. Academic research
  supported our belief that customers
  who were shown their usage data were
  more trusting of their retailer.
</p>
<p>
  I sought qualitative data to understand
  sentiment and motivations, and ran customer
  interviews. I found customers longed
  for retailers to proactively contact
  them with usage data, rather than the
  opposite: a frustrating process of
  discovering issues with bills and having
  to go through a series of call-center
  conversations to get answers to simple
  questions.
</p>
{% include heading.html
  text="Solution"
%}
<p>
  I conducted research across industries
  with churn problems, and other energy
  markets. Some retailers had been
  successful with mobile apps with
  consumption charts, but these solutions
  tended to be very expensive, or too
  technical for the average consumer.
<p>
  My proposed strategy to promote customer
  trust was simple: we would provide
  them with easy to understand
  insights into their usage, supported
  by evidence in the form of simple
  usage charts.
</p>
<p>
  My research showed email was already
  the highest engaged channel among
  Billcap’s clients, and so I proposed
  a cheaper, more feasible solution:
  energy insight emails.
</p>
{% include image.html
  src="trust-email-1.png"
  caption="A Trust email"
  class="figure__md"
%}
{% include heading.html
  text="Design"
%}
<p>
  In consultation with Simply Energy
  and domain experts I developed content
  design and wireframes for a weekly
  customer email programme. The first
  emails I designed and developed were
  sent out to Simply Energy customers
  not long after, and were an undeniable
  success. A later independent study
  conducted by the University of
  Melbourne reported that we had
  delivered a 29% reduction in churn.
</p>
<p>
  Simply customer feedback indicated
  they wanted historical data and
  more detail — to self-diagnose
  or validate insights. This wasn’t
  feasible within the limitations of
  email, so I designed a web UI for
  Simply customers. I built the web
  app while backend developers built
  an API. One innovation I’m proud of
  is the one-click sign in: using
  a hashed link in an email customers
  would be directed to the web portal
  and automatically signed in.
</p>
{% include image.html
  src="trust-email-2.png"
  caption="Trust email content"
  class="figure__md"
%}
{% include heading.html
  text="Growth"
%}
<p>
  Two years later I returned to the
  Trust project. The foundational
  work I’d been involved in had
  been rolled out to more retailers
  and evolved into a very strong
  product for the company, continuing
  to provide value for customers,
  retailers and Billcap. With more
  retailers wanting to take advantage
  of Trust a team-wide project was
  kicked off to develop new energy
  insight features.
</p>
<p>
  While the software team worked on a
  machine-learning service to identify
  outliers in data, a climate comparison
  service, and smarter data analysis
  tooling, I worked on turning these
  features into valuable insights.
</p>
<p>
  I evaluated the existing insights,
  improved content, and designed better
  mobile-first emails. Additional UX
  improvements came from a smarter
  insight engine that ranked
  insights to push out only the most
  relevant to customer inboxes.
</p>
{% include image.html
  src="trust-portal.png"
  caption="The Trust portal"
  class="figure__md"
%}
{% include heading.html
  text="Bonus"
%}
<p>
  In between all this work Simply’s web
  portal needed a refresh. I ran this
  project as a stepping-stone to a web
  portal Billcap could offer to all
  retailers. I designed new UI in-line
  with Simply‘s updated brand, and
  built it out as a Vue.js web app.
</p>
<p>
  Also, lamenting about the error-prone
  and painful of HTML email development
  process I developed a Webpack toolset
  to enable HTML and CSS mark up.
</p>
